# PlatformIO build files and local environment
.pio/
.pioenvs/
.piolibdeps/
.clangd/

# VS Code settings and workspace
.vscode/

# C/C++ compiler and CMake output
*.o
*.elf
*.bin
*.hex

# OS & Editor temporary files
.DS_Store
Thumbs.db
*.bak
*.tmp